.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoText {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.dropDown{
  margin-right: 20px;
}

.userContainer{
margin: 0px 30px;
}

.user {
  font-size: 12px;
}

.side{
  height: calc(140vh - 6px);
}
